@import '../components/styles.scss';

#attributions {
  height: 90vh;
  background: #111;
  @extend %center-items;

  >.container {
    display: block;
    width: fit-content;
    margin: 0 auto;

    >h2 {
      margin-bottom: 4rem;
    }

    >h3 {
      margin: 2rem 0;
    }

    >p {
      margin-bottom: 1rem;

      a {
        color: $cta-gold;
      }
    }
  }
}